@model ParkingSpots

@{
	ViewBag.Title = "All Parking Spots";
}

<div class="card text-white bg-primary">
  <div class="card-header">Number of Available Spots </div>
  <div class="card-body">
    <h5 class="card-title">Total Spots: @Model.TotalSpots</h5>
    <h5 class="card-title">Reserved Spots: @Model.ReservedSpots</h5>
    <h5 class="card-title">Regular Spots: @Model.RegularSpots</h5>
  </div>
</div>
