@model WebApp.Models.PricingPlan

@{
    ViewBag.Title = "Pricing Plan Details";
}

<h3>@Model.Type.Name.ToUpper() PRICING PLAN </h3>

<p>Hourly Pricing: @Model.HourlyPricing</p>
<p>Daily Pricing: @Model.DailyPricing</p>
<p>Minimum Hours: @Model.MinimumHours</p>